$Fighting: #e74347;
$Rock: #c5b489;
$Ghost: #7773d4;
$Flying: #a6c2f2;
$Fairy: #f3a7e7;
$Electric: #edd53e;
$Dragon: #0c69c8;
$Grass: #52f618;
$Fire: #e87912;
$Water: #15c4dc;
$Ground: #d29463;
$Bug: #82ca28;
$Dark: #2b2b36;
$Poison: #a864c7;
$Psychic: #fe9f92;
$Steel: #58a6aa;
$Ice: #8cddd4;
$Normal: #6b6b6b;
$Neutral-100: #ffffff;
$Neutral-200: #c6c6c6;
$Neutral-300: #aaaaaa;
$Neutral-400: #8e8e8e;
$Neutral-500: #717171;
$Neutral-600: #555555;
$Neutral-700: #393939;
$Neutral-800: #1c1c1c;
$Neutral-900: #000000;
$Primary-400: #3e4444;
$Primary-300: #444c4c;
$Primary-100: #5c6666;
$Primary-200: #545c5c;
$Primary: #4c5454;
$Secondary-300: #ff3910;
$Secondary-100: #ff8369;
$Secondary-400: #ff2b00;
$Secondary-200: #ff6343;
$Secondary: #ff4b26;
$pokemon-gradient-dark: radial-gradient(116.31% 116.31% at 50.00% -16.31%, #383838 0%, #242424 100%);
$small: 8px;
$medium: 16px;
$large: 24px;

@font-face {
  font-family: Concert One;
  src: url("./assets/font/ConcertOne-Regular.ttf");
}

@font-face {
  font-family: Cabin;
  src: url("./assets/font/Cabin-VariableFont_wdth\,wght.ttf");
}

@mixin desktop-body-m-b() {
  /* Desktop/Body - Medium - Bold */
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
}

@mixin desktop-body-l-b() {
  /* Desktop/Body - Large - Bold */
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 1px;
}

@mixin desktop-body-l-r() {
  /* Desktop/Body - Large - Regular */
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 1px;
}

@mixin desktop-h1() {
  /* Desktop/H1 */
  font-family: Concert One;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 75.6px */
  letter-spacing: 5px;
  text-align: center;
}

@mixin flex($vertical: center, $horizontal: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $vertical;
  align-items: $horizontal;
  flex-direction: $direction;
  gap: $gap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

html{
  background: $Neutral-900;
}

h1 {
  color: $Neutral-100;
  font-family: Concert One;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  letter-spacing: 5px;
}

h3 {
  font-family: Concert One;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: $Neutral-100
}

#root{
	height: 100vh;
  width: 100vw;
  background-color: $Neutral-800;
}

.navbar {
  @include flex(space-between, center, row);
  background-color: $Neutral-900;
  padding: 15px 70px;

  img {
    height: 30px;
    object-fit: contain;
  }

  .left-part {
    color: $Neutral-700;
    display: flex;
    align-items: flex-start;
    gap: 45px;

		a {
			text-decoration: none;
		}

    div {
      @include flex(center, center, row, 10px);
      height: 35px;
      cursor: pointer;
    }

    div:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-color: $Secondary;
      border-radius: 5px;
    }

		div.active{
			
			text-decoration: none;
			
			p{
				color: $Secondary;
				
			}
		}

    p {
      @include desktop-body-m-b();
      color: $Primary;
      cursor: pointer;
    }
  }
}

.body-home {
  @include flex(center, space-between, column, 50px);
  padding: 0px 150px;
  align-self: stretch;
	height: au;
  background-color: $Neutral-800;

  .container {
    display: flex;
    padding: 35px 0px;
    justify-content: space-between;
    align-items: center;

    .right-part {
      @include flex(center, flex-start, column, 35px);
      width: 568px;

      h1 {
        @include desktop-h1();
        color: $Neutral-100;
      }

      p {
        @include desktop-body-l-r();
        color: $Neutral-200;
      }
    }

    .left-part {
      position: relative;

      #reshiram {
        position: absolute;
        top: 65px;
        left: 50px;
        z-index: 2;
      }

      #reshiramGradient {
        position: absolute;
        width: 508px;
        height: 478px;
        flex-shrink: 0;
        top: 0px;
        left: 0px;
        fill: linear-gradient(137deg, #391501 0%, #d84213 100%);
        filter: blur(58.6349983215332px);
        z-index: 1;
      }
    }

    .btn-home {
      display: flex;
      align-items: center;
      gap: 35px;

      button {
        @include flex(center, flex-start, column, 10px);
        @include desktop-body-l-b();
        padding: 10px;
        color: $Neutral-100;
        border-radius: 8px;
        background: var(--neutral-neutral-700, #393939);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.footer {
  background: $Neutral-900;
  @include flex(center, center, row, 25px);
  height: 70px;
  padding: 15px 70px;
  justify-content: center;
  align-items: center;
  gap: 25px;
	width: 100vw;

  p {
    @include desktop-body-m-b();
    color: $Primary;
    cursor: pointer;
  }
}

.footerHome{
  position: absolute;
  bottom: 0px;
}

.pokedex-body{

  @include flex(center, flex-start, column, 35px);
  color: $Neutral-100;
  padding: 0px 150px;
  align-self: stretch;
  background-color: $Neutral-800;

  .pokedex-content{
    @include flex(center, center, column, 75px);
    display: flex;
    padding: 35px 0px;
    align-self: stretch;

    .pokedex-btn{
      display: flex;
      align-items: center;
      gap: 35px;
    }

    .pokedex-btn-passive{
      @include flex(center, flex-start, column, 10px);
      @include desktop-body-l-b(); 
      color: $Neutral-100;
      padding: 10px;
      border-radius: $small;
      background: $Neutral-700;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

      &:hover{
        border-color: $Neutral-100;
      }
    }

    .pokedex-btn-active{
      @include flex(center, flex-start, column, 10px);
      @include desktop-body-l-b();
      padding: 10px;
      border-radius: $small;
      background: $Neutral-100;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }
    
    ul.pokemon-list {
      @include flex(center, flex-start, row, 20px);
      align-items: flex-start;
      align-content: flex-start;
      align-self: stretch;
      flex-wrap: wrap;
    }
  }
}

.pokemonCard{

  @include flex(center, center, column, 15px);
  width: 350px;
  height: 350px;
  padding: 15px;
  flex-shrink: 0;
  border-radius: $medium;
  background: $pokemon-gradient-dark;
  
  
  article.nameType{
    @include flex(center, flex-end, row, 15px);

    div.types{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      width: 45px;
      height: 45px;
    }

  }

  img.pokemon {
    width: 320px;
    height: 185px;
    object-fit: contain;
  }

  button{
    @include flex(center, flex-start, column, 10px);
    @include desktop-body-l-b();
    color: $Neutral-100;
    padding: 10px;
    border-radius: $small;
    background-color: $Neutral-700;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .type-Plante {    

    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Grass;
    }
  }

  .type-Feu {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Fire;
    }
  }

  .type-Eau {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Water;
    }
  }

  .type-Insecte {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Bug;
    }
  }

  .type-Normal {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Normal;
    }
  }

  .type-Electrik {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Electric;
    }
  }

  .type-Poison {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Poison;
    }
  }

  .type-Fee {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Fairy;
    }
  }

  .type-Vol {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Flying;
    }
  }

  .type-Combat {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Fighting;
    }
  }

  .type-Spectre {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Ghost;
    }
  }

  .type-Dragon {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Dragon;
    }
  }

  .type-Glace {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Ice;
    }
  }

  .type-Ténèbres {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Dark;
    }
  }

  .type-Acier {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Steel;
    }
  }

  .type-Roche {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Rock;
    }
  }

  .type-Sol {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Ground;
    }
  }

  .type-Psy {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $Psychic;
    }
  }
}

.inputSuggestion{
  
  @include flex(center, center, column, 35px);
  @include desktop-body-l-r();
  color: $Neutral-100;

  .suggestions{
    @include flex(flex-start, center, column, 35px);
    display: flex;
    height: 450px;
    width: auto;
    max-width: 450px;
    min-width: 300px;
    padding: 0px 35px 35px 35px;
    border-radius: $large;
    background: $pokemon-gradient-dark;
    overflow: auto;

    div.pokemonBox{
      width: 100%
    }

    a {
			text-decoration: none;
      color: $Neutral-100
		}
  
    li{
      @include flex(center, center, row, 10px);
      cursor: pointer;
    }

    .pokedexAutocomplete{
      justify-content: flex-start;
    }
  
    div.line{
      width: 100%;
      height: 1px;
      background-color: $Neutral-100;
    }
  }
}

input {
  all: unset;
}

div.search-btn{
  @include flex(center, center, row, 10px);
  width: 300;
  padding: 27px 35px;
  border-radius: $large;
  background: $pokemon-gradient-dark;
  
}

.pokedexInfoBody{
  padding: 0px 150px;
  background-color: $Neutral-800;

  section{
    @include flex(center, center, column, 35px);
    align-self: stretch;
    
    div.title{
      @include flex(center, center, column, 75px);
      padding: 35px 0px;
      align-self: stretch;
    }

    section.pokemonInfoCard{
      @include flex(center, flex-start, column, 40px);
      padding: 60px 0px;
      align-self: stretch;
      border-radius: $medium;
      background: $pokemon-gradient-dark;

      div.btn{

        display: flex;
        padding: 0px 50px;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;

        button{
          @include flex(center, center, column, 10px);
          @include desktop-body-l-b();
          color: $Neutral-100;
          height: 50px;
          padding: 10px 27px;
          gap: 10px;
          border-radius: $small;
          background: $Neutral-600;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        }
      }

      section.pokemonImageStats{
        display: flex;
        padding: 0px 30px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-self: stretch;
      }
    }
  }
}

article.PokemonInfoStat{
  @include flex(flex-start, center, column, 20px);
  display: flex;
  width: 400px;
  height: 525px;
  padding: 0px 15px;
  border-radius: $medium;
  background: rgba(255, 255, 255, 0.30);

  ul{
    height: 75px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    li{
      color: $Neutral-100;
      @include desktop-body-l-b();
      cursor: pointer;
    }
  }

  div.content{

    width: 100%;
    padding: 0 20px;
    color: $Neutral-100;
    overflow: auto;


    article.evolution{
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      align-self: stretch;
      height: 100%;

      p.bold{
        @include desktop-body-l-b();
      }
  
      p{
        @include desktop-body-l-r();
      }

    }

    article.stat{
      @include flex(center, flex-start, column, 20px);
      padding: 20px 0px;
      width: 100%;
      align-self: stretch;

      div.nameValue{

        @include flex(space-between, center, row, 8px);
        width: 150px;

        p{
          @include desktop-body-l-b();
        }
      }

      div.line{
        @include flex(flex-start, center, row, 12px);
        width: 100%;

        div.barComplete {
          width: 100%;
          height: 10px;
          border-radius: 5px;
          border-radius: $small;
          background: rgba(255, 255, 255, 0.30);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.60);
        }

        div.barValue {
          z-index: 1;
          height: 100%;
          border-radius: 5px;
          border-radius: $small;
          background-color: $Neutral-200;
        }
        
        .bar.hp {
          background-color: #e74347;
        }
      }
    }
  }
}

.classic-body{
  display: flex;
  padding: 35px 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  align-self: stretch;
  background-color: $Neutral-800;

  p{
    @include desktop-body-l-r();
    color: $Neutral-100;
    width: 70%;
    text-align: center;
  }
}

section.guess-bar{
  @include flex(start, center, column, 10px);
  padding: 27px 35px;
  align-self: stretch;
  background: $pokemon-gradient-dark;
  border-radius: $large;

  ul{
    display: flex;
    flex-direction: row;
    width: 100%; 
    @include desktop-body-l-r();
    color: $Neutral-100;

    li{
      border: 1px solid $Neutral-100;
      width: 10%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      overflow: auto;
    }
  }

  ul.pokemons{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    li{
      display: flex;
      justify-content: center;
      text-align: center;
      overflow: auto;
    }
  }

  div.pokemonBox{
    display: flex;
    flex-direction: row;
    width: 100%; 
  }
}